body {
  background-color: #e4e9ef;
}

.ex-space {
  margin: 4vh;
  padding: 2vh;
  min-height: 10vh;
  box-shadow: 1px 1px 3px black;
}

.ex-title {
  margin-top: 0;
  font-size: 0.5em;
  letter-spacing: 0.5px;
  color: #ff6e9f;
  text-transform: uppercase;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

#weatherBox {
  height: 300px;
  width: 300px;
}

.freezing {
  background-color: aqua;
}
.fair {
  background-color: orange;
}
.hell-scape {
  background-color: red;
}
